<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title || 'CSE Motors' %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('partials/header') %>
  <%- include('partials/nav') %>

 <main class="error-wrapper">
  <h1><%= title %></h1>
  <p>Sorry, something went wrong.</p>
  <div class="back-home">
    <a href="/" class="btn">← Back to Home</a>
  </div>
</main>

  <%- include('partials/footer') %>
</body>
</html>