<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <h1>
            <%= title %>
        </h1>
    </header>

    <main>
        <%- vehicleHTML %> <!-- <%- renders raw HTML from the controller -->
    </main>

    <%- include('../partials/footer') %>
</body>

</html>